---
name: Build 4testing repo

on:
  workflow_dispatch:

jobs:
  build:
    name: Chart release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set chart version
        run: |
          wget https://download.onlyoffice.com/charts/4testing/index.yaml -P /tmp
          wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq &&\
            chmod +x /usr/bin/yq
          NEW_VERSION=$(yq '.version' Chart.yaml)
          MAX_RC=$(yq '.entries.docspace[].version' /tmp/index.yaml | \
            grep "^${NEW_VERSION}" | \
            sed -E 's/.*rc([0-9]+).*/\1/' | \
            sort -n | \
            tail -n 1)
          if [ -z "$MAX_RC" ]; then
            RC=1
          else
            RC=$((MAX_RC + 1))
          fi
          NEW_VERSION=$(echo $NEW_VERSION)-rc$RC
          sed 's/\(^version:\).*/\1 '$NEW_VERSION'/' -i Chart.yaml
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-east-1
      - name: Helm release
        uses: shellbear/helm-release-action@v0.1
        with:
          repo: ${{ secrets.AWS_BUCKET_URL }}/charts/4testing
          chart: ./
          packageExtraArgs: --dependency-update

      - name: Reindex index.yaml
        run: |
          aws s3 cp ${{ secrets.AWS_BUCKET_URL }}/charts/4testing/index.yaml .
          ls | grep index.yaml
          sed -i "s|${{ secrets.AWS_BUCKET_URL }}|${{ secrets.AWS_CLOUDFRONT_URL }}|g" index.yaml
          aws s3 cp index.yaml ${{ secrets.AWS_BUCKET_URL }}/charts/4testing/ --acl public-read
      - name: Make public access to chart repo
        run: |
          mkdir s3dir
          aws s3 cp ${{ secrets.AWS_BUCKET_URL }}/charts/4testing/ ./s3dir  --recursive
          aws s3 cp ./s3dir ${{ secrets.AWS_BUCKET_URL }}/charts/4testing --acl public-read --recursive
      - name: Purge download CDN
        run: |
          aws apigateway test-invoke-method \
            --rest-api-id ${{ secrets.AWS_API_REST_ID }} \
            --resource-id ${{ secrets.AWS_API_RESOURCE_ID }} \
            --http-method PUT \
            --path-with-query-string "/prod/download-oo-com" \
            --body '{"paths": ["/charts/4testing/*"]}'
